<div class="container h-100">
  <div class="row d-flex justify-content-center align-items-center h-100">
    <div class="col-13 col-md-11 col-lg-11 col-xl-11">
      <div class="card" style="border-radius: 15px;">
        <div class="card-body p-5">
          <h2 class="text-uppercase text-center mb-5">Users</h2>
          <div>
            <a routerLink='/users/new'>New User</a>
            <div *ngFor="let user of user_list; let i = index">
              <p>Username: {{user["username"]}}<br />
                See more: <a routerLink='/products/{{user["_id"]}}'>Click Here to view</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


