<div class="container h-100">
  <div class="row d-flex justify-content-center align-items-center h-100">
    <div class="col-12 col-md-9 col-lg-7 col-xl-6">
      <div class="card" style="border-radius: 15px;">
        <div class="card-body p-5">
          <h2 class="text-uppercase text-center mb-5">Edit Product</h2>

          <form [formGroup]="productForm" (ngSubmit)="onSubmit()">

            <div class="form-outline mb-4 form-group">
              <label class="form-label" for="title">Title</label>
              <input type="text" id="title" name="title" class="form-control form-control-lg" value='{{ product["title"] }}' formControlName="title" [ngClass]="{'error': isInvalid('title')}"/>
            </div>

            <div class="form-outline mb-4 form-group">
              <label class="form-label" for="description">Description</label>
              <textarea type="text" id="description" name="description" class="form-control form-control-lg" value='{{ product["description"] }}' formControlName="description" [ngClass]="{'error': isInvalid('description')}">
              </textarea>
            </div>

            <div class="form-outline mb-4 form-group">
              <label class="form-label" for="price">Price</label>
              <input type="number" id="price" name="price" class="form-control form-control-lg" value='{{ product["price"] }}' formControlName="price" [ngClass]="{'error': isInvalid('price')}"/>
            </div>

            <div class="form-outline mb-4 form-group">
              <label class="form-label" for="type">Type</label>
              <input type="text" id="type" name="type" class="form-control form-control-lg" value='{{ product["type"] }}' formControlName="type" [ngClass]="{'error': isInvalid('type')}"/>
            </div>

            <div class="d-flex justify-content-center">
              <span>{{ product_message }}</span>
              <button *ngIf="!isIncomplete()" type="submit" class="btn btn-success btn-block btn-lg text-white bg-secondary">Create Product</button>
            </div>
          </form>
          <span>{{ delete_message }}</span>
        <button (click)="onDelete()" class="btn btn-success btn-block btn-lg text-white bg-secondary">Delete Product</button>
        </div>
      </div>
    </div>
  </div>
</div>





