<div class="container h-100">
  <div class="row d-flex justify-content-center align-items-center h-100">
    <div class="col-12 col-md-9 col-lg-7 col-xl-6">
      <div class="card" style="border-radius: 15px;">
        <div class="card-body p-5">
          <h2 class="text-uppercase text-center mb-5">Leave your review below</h2>

          <form [formGroup]="reviewForm" (ngSubmit)="onSubmit()">

            <div class="form-outline mb-4 form-group">
              <label class="form-label" for="comment">Comment</label>
              <textarea id="comment" name="comment" class="form-control form-control-lg" formControlName="comment" [ngClass]="{'error': isInvalid('comment')}">
              </textarea>
            </div>

            <div class="form-outline mb-4 form-group">
              <label class="form-label" for="rating">Rating</label>
              <select id="rating" name="rating" class="form-control form-control-lg" formControlName="rating" [ngClass]="{'error': isInvalid('rating')}">
                <option value = '5'>5</option>
                <option value = '4'>4</option>
                <option value = '3'>3</option>
                <option value = '2'>2</option>
                <option value = '1'>1</option>
              </select>
            </div>

            <div class="d-flex justify-content-center">
              <span>{{ review_message }}</span>
              <button *ngIf="!isIncomplete()" type="submit" class="btn btn-success btn-block btn-lg text-white bg-secondary">Submit Review</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

