<nav class="p-3 navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Supermarket</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="/products">Products</a>
    </div>
  </div>
  <div *ngIf="is_logged_in == false" class="mr-3 navbar-nav">
    <a class="nav-item nav-link" href="/login">Login</a>
    <a class="nav-item nav-link" href="/register">Register</a>
  </div>
  <div *ngIf="is_logged_in == true" class="mr-3 navbar-nav">
    <a class="nav-item nav-link" href="/users/">Profile</a>
    <button class="nav-item nav-link" (click)="onLogout()">logout</button>
  </div>
</nav>
<section class="fill bg-secondary">
  <router-outlet></router-outlet>
</section>
