<div class="container h-100">
  <div class="row d-flex justify-content-center align-items-center h-100">
    <div class="col-12 col-md-9 col-lg-7 col-xl-6">
      <div class="card" style="border-radius: 15px;">
        <div class="card-body p-5">
          <h2 class="text-uppercase text-center mb-5">Create an account</h2>

          <form [formGroup]="userForm" (ngSubmit)="onSubmit()">

            <div class="form-outline mb-4 form-group">
              <label class="form-label" for="username">Username</label>
              <input type="text" id="username" name="username" class="form-control form-control-lg" value='{{ user["username"] }}' formControlName="username" [ngClass]="{'error': isInvalid('username')}"/>
            </div>

            <div class="form-outline mb-4">
              <label class="form-label" for="email">Email</label>
              <input type="email" id="email" name="email" class="form-control form-control-lg" value='{{ user["email"] }}' formControlName="email" [ngClass]="{'error': isInvalid('email')}"/>
            </div>

            <div class="form-outline mb-4">
              <label class="form-label" for="new_password">Password</label>
              <input type="password" name="new_password" id="new_password" class="form-control form-control-lg" formControlName="new_password" [ngClass]="{'error': isInvalid('new_password')}"/>
            </div>

            <div class="form-outline mb-4 form-group">
              <label class="form-label" for="is_admin">Is Admin</label>
              <select id="is_admin" name="is_admin" class="form-control form-control-lg" value='{{ user["is_admin"] }}' formControlName="is_admin" [ngClass]="{'error': isInvalid('is_admin')}">
                <option value = 'true'>True</option>
                <option value = 'false'>False</option>
              </select>
            </div>

            <div class="d-flex justify-content-center">
              <span>{{ user_message }}</span>
              <button *ngIf="!isIncomplete()" type="submit" class="btn btn-success btn-block btn-lg text-white bg-secondary">Create User</button>
            </div>
          </form>
          <span>{{ delete_message }}</span>
          <button (click)="onDelete()" class="btn btn-success btn-block btn-lg text-white bg-secondary">Delete User</button>
        </div>
      </div>
    </div>
  </div>
</div>
