<div class="container h-100">
  <div class="row d-flex justify-content-center align-items-center h-100">
    <div class="col-13 col-md-11 col-lg-11 col-xl-11">
      <div class="card" style="border-radius: 15px;">
        <div class="card-body p-5">
          <h2 class="text-uppercase text-center mb-5">Review</h2>
          <div>
            <p>Comment: {{review["comment"]}}<br />
              Stars: {{review["rating"]}}<br />
              See more: <a routerLink='/products/{{product_id}}/reviews/{{review["_id"]}}/edit'>Click Here to edit</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


