<div class="container h-100">
  <div class="row d-flex justify-content-center align-items-center h-100">
    <div class="col-13 col-md-11 col-lg-11 col-xl-11">
      <div class="card" style="border-radius: 15px;">
        <div class="card-body p-5">
          <h2 class="text-uppercase text-center mb-5">Products</h2>
          <div>
            <a routerLink='/products/new'>New Product</a>
            <div *ngFor="let product of product_list; let i = index">
              <p>Name: {{product["title"]}}<br />
                See more: <a routerLink='/products/{{product["_id"]}}'>Click Here to view</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


