<div class="container h-100">
  <div class="row d-flex justify-content-center align-items-center h-100">
    <div class="col-13 col-md-11 col-lg-11 col-xl-11">
      <div class="card" style="border-radius: 15px;">
        <div class="card-body p-5">
          <h2 class="text-uppercase text-center mb-5">Product</h2>
          <div>
            <p>Name: {{product["title"]}}<br />
            Description: {{product["description"]}}<br />
            Price: {{product["price"]}}<br />
            Type: {{product["type"]}}
            <a routerLink='/products/{{product["_id"]}}/edit'>Edit Product</a></p>
          </div>

          <h3 class="text-uppercase text-center mb-5">Reviews</h3>
          <div>
            <a routerLink='/products/{{product["_id"]}}/reviews/new'>Leave a review</a>
            <div *ngFor="let review of reviews; let i = index">
              <p>Comment: {{review["comment"]}}<br />
                Stars: {{review["rating"]}}<br />
                See more: <a routerLink='/products/{{product["_id"]}}/reviews/{{review["_id"]}}'>Click Here to view</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


