<div class="container h-100">
  <div class="row d-flex justify-content-center align-items-center h-100">
    <div class="col-13 col-md-11 col-lg-11 col-xl-11">
      <div class="card" style="border-radius: 15px;">
        <div class="card-body p-5">
          <h2 class="text-uppercase text-center mb-5">Product</h2>
          <div>
            <p>Username: {{user["username"]}}<br />
            Email: {{user["email"]}}
            <a routerLink='/users/{{user["_id"]}}'>Click Here to edit</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


