 <div class="container h-100">
  <div class="row d-flex justify-content-center align-items-center h-100">
    <div class="col-12 col-md-9 col-lg-7 col-xl-6">
      <div class="card" style="border-radius: 15px;">
        <div class="card-body p-5">
          <h2 class="text-uppercase text-center mb-5">Create an account</h2>

          <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

            <div class="form-outline mb-4 form-group">
              <label class="form-label" for="username">Username</label>
              <input type="text" id="username" name="username" class="form-control form-control-lg" formControlName="username" [ngClass]="{'error': isInvalid('username')}"/>
            </div>

            <div class="form-outline mb-4">
              <label class="form-label" for="email">Email</label>
              <input type="email" id="email" name="email" class="form-control form-control-lg" formControlName="email" [ngClass]="{'error': isInvalid('email')}"/>
            </div>

            <div class="form-outline mb-4">
              <label class="form-label" for="password">Password</label>
              <input type="password" name="password" id="password" class="form-control form-control-lg" formControlName="password" [ngClass]="{'error': isInvalid('password')}"/>
            </div>

            <div class="form-outline mb-4">
              <label class="form-label" for="password_confirm">Repeat your password</label>
              <input type="password" name="password_confirm" id="password_confirm" class="form-control form-control-lg" formControlName="password_confirm" [ngClass]="{'error': isInvalid('password_confirm')}"/>
            </div>

            <div class="d-flex justify-content-center">
              <span>{{ register_message }}</span>
              <button *ngIf="!isIncomplete()" type="submit" class="btn btn-success btn-block btn-lg text-body">Register</button>
            </div>

            <p class="text-center text-muted mt-5 mb-0">Have already an account? <a href="/login" class="fw-bold text-body"><u>Login here</u></a></p>

          </form>

        </div>
      </div>
    </div>
  </div>
</div>

